### Question 1
#### Consider the following Python module:
#### a = 0
#### def b():
#### global a
#### a = c(a)
#### def c(a):
#### return a + 2
#### After importing the module into the interpreter, you execute:
#### >>> b()
#### >>> b()
#### >>> b()
#### >>> a
#### ?
#### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [17]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

b()  
b()
b()
a

# when b() is called it invokes c which returns 0{which is a} + 2 = 2, 
# b() is called 3 times so  the retun value become 2+2+2=6 
# but it is not actually returned..as no variable is being returned from b
# need to call a or return a from b() to print the value So 6 is printed

6

### Question 2 
#### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: 
#### >>> fileLength('midterm.py') 284
#### >>> fileLength('idterm.py') 
#### Traceback (most recent call last): 
####     File "<pyshell#34>", line 1, in <module> 
####     fileLength('idterm.py') 
####     File "/Users/me/midterm.py", line 3, in fileLength 
####     infile = open(filename) 
#### FileNotFoundError: [Errno 2] No such file or directory: 
#### 'idterm.py'
    
#### As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be #### raised. Modify function fileLength() so that a friendly message is printed instead:
    
#### >>> fileLength('midterm.py') 358
#### >>> fileLength('idterm.py')
#### File idterm.py not found.

In [1]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError :
        print('file ' + file_name + " not found.")
fileLength('hh.txt')

file hh.txt not found.

### Write a class named Marsupial that can be used as shown below: 
#### >>> m = Marsupial() 
#### >>> m.put_in_pouch('doll') 
#### >>> m.put_in_pouch('firetruck') 
#### >>> m.put_in_pouch('kitten') 
#### >>> m.pouch_contents() ['doll', 'firetruck', 'kitten']
#### Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
#### a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
#### b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and 
#### by dy units along the y-axis, and
#### c. overloads the __str__ operator so it behaves as shown below.
#### >>> k = Kangaroo(0,0) 
#### >>> print(k) I am a Kangaroo located at coordinates (0,0) 
#### >>> k.put_in_pouch('doll') 
#### >>> k.put_in_pouch('firetruck') 
#### >>> k.put_in_pouch('kitten') 
#### >>> k.pouch_contents() ['doll', 'firetruck', 'kitten'] 
#### >>> k.jump(1,0) 
#### >>> k.jump(1,0) 
#### >>> k.jump(1,0) 
#### >>> print(k) I am a Kangaroo located at coordinates (3,0)

In [108]:
class Marsupial():
    def __init__(self):
        self.pouch_content = []  
    
    def put_in_pouch(self, thing):
        self.pouch_content.append(thing)
    
    def pouch_contents(self):
        return print(format(self.pouch_content))

class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x;
        self.y=y;
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return 'The Kangaroo is located at coordinates ({},{}).'.format(self.x,self.y);
k = Kangaroo(0,0)
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

The Kangaroo is located at coordinates (3,0).

### Question 4
#### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. 
#### A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
#### x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
#### Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
#### >>> collatz(1)
#### 1
#### >>> collatz(10)
#### 10
#### 5
#### 16
#### 8
#### 4
#### 2
#### 1

In [35]:
def collatz(b):
    b = int(b)
    if b == 1:
        return b
    elif b%2==0:
        print(b)
        return collatz(b//2)
    else:
        print(b)
        return collatz(b*3+1)
    
collatz(10)

10
5
16
8
4
2

1

### Question 5 
#### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. 
#### >>> binary(0) 0 
#### >>> binary(1) 1 
#### >>> binary(3) 11 
#### >>> binary(9) 1001

In [16]:
def binary(n):
    n=int(n)
    if(n==0):
        return
    else:
        binary(n//2)
        print(str(n%2),end="")
        
binary(9)

1001

### Question 6
#### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings 
#### in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. 
#### When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they 
#### appear in the document. Each heading should be indented as follows: an h1 heading should have
#### indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
#### >>> infile = open('w3c.html')
#### >>> content = infile.read()
#### >>> infile.close()
#### >>> hp = HeadingParser()
#### >>> hp.feed(content)
#### W3C Mission
#### Principles

In [48]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
     inHeading = False
     def handle_starttag(self, tag, attrs):
        if tag == "h1" or tag == "h2" or tag == "h3" or tag == "h4" or tag == "h5" or tag == "h6" or tag == "h7":             self.inHeading = True
     def handle_data(self, data):
         if self.inHeading:
            print(data)
     def handle_endtag(self, tag):
        if tag == "h1" or tag == "h2" or tag == "h3" or tag == "h4" or tag == "h5" or tag == "h6" or tag == "h7":
             self.inHeading = False
hParser = HeadingParser()
infile = open('w3c.html')
html = infile.read()
infile.close()
hParser.feed(html)

W3C Mission
Principles

### Question 7 
#### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent.
#### Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each 
#### web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a UR########  L. 

#### >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) 
#### http://reed.cs.depaul.edu/lperkovic/csc242/test1.html 
####     http://reed.cs.depaul.edu/lperkovic/csc242/test2.html 
####         http://reed.cs.depaul.edu/lperkovic/csc242/test4.html 
####             http://reed.cs.depaul.edu/lperkovic/csc242/test3.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [70]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                     
    def getLinks(self):
        return self.links

def webdir(url, depth, indent):
        depth_value = int(depth)
        indent_value = int(indent)
        
        if depth_value < 0 or indent_value < 0:      
            raise ValueError
            
        resource = urlopen(url)
        content = resource.read().decode()
        collector = Collector(url)
        collector.feed(content)
        links = collector.getLinks()               

        if indent_value == 0:
            print('{}'.format(url))
        indent_value += 4
        depth_value = depth_value-1
    
        if depth_value >= 0:
            for link in links:                         
                print('{}{}'.format(indent_value*' ', link), end = '\n')
                if (depth_value) > 0: 
                    webdir(link, depth_value, indent_value)          
                
            
webdir('https://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

https://reed.cs.depaul.edu/lperkovic/test1.html
    http://reed.cs.depaul.edu/lperkovic/test2.html
        http://reed.cs.depaul.edu/lperkovic/test4.html
    https://reed.cs.depaul.edu/lperkovic/test3.html
        https://reed.cs.depaul.edu/lperkovic/test4.html

### Question 8
#### Write SQL queries on the below database table that return:
#### a) All the temperature data.
#### b) All the cities, but without repetition.
#### c) All the records for India.
#### d) All the Fall records.
#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
#### g) The total annual rainfall for Cairo.
#### h) The total rainfall for each season.

In [1]:
import sqlite3
con = sqlite3.connect('DBfile.db')
cur = con.cursor()
cur.execute("CREATE TABLE Table1 (City text, Country text, Season text,Temperature float,Rainfall float)")
cur.execute("INSERT INTO Table1 VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO Table1 VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO Table1 VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO Table1 VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO Table1 VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO Table1 VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO Table1 VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO Table1 VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO Table1 VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO Table1 VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO Table1 VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO Table1 VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [2]:
cur.execute('SELECT * FROM Table1')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [11]:
cur.execute('SELECT temperature FROM Table1')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [10]:
cur.execute('SELECT DISTINCT City FROM Table1')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [9]:
cur.execute("SELECT * FROM Table1 WHERE Country='India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [8]:
cur.execute("SELECT * FROM Table1 WHERE Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [7]:
cur.execute("SELECT City,country,Season FROM Table1 WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [5]:
cur.execute("SELECT City,country FROM Table1 WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [4]:
cur.execute("SELECT SUM(Rainfall) FROM Table1 WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

In [3]:
cur.execute("SELECT SUM(Rainfall) FROM Table1 GROUP BY Season")
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

### Question 9
#### Suppose list words is defined as follows:
#### >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
#### Write list comprehension expressions that use list words and generate the following lists:

In [16]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print(words)

print("Question A")
words = [name.upper() for name in words]
print(words)

print("Question B")
words = [name.lower() for name in words]
print(words)

print("Question C")

Length = [len(name) for name in words] 
print(Length)

print("Question D")
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words = [ [name.upper(), name.lower(), len(name)] for name in words]
print(words)    

print("Question E")
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
wordsE = [word for word in words if len(word)>= 4]
print(wordsE)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Question A
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
Question B
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Question C
[3, 5, 5, 3, 5, 4, 3, 4, 3]
Question D
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
Question E
['quick', 'brown', 'jumps', 'over', 'lazy']